<%= link_to "Add a new story", new_story_path, class: "button radius neutral" %>

<h1>Welcome to Rewsly, your news aggregator</h1>

<%= render 'search'%>

<section id="stories">
  <ul>
    <%= render @stories.sort_by(&:upvotes).reverse %>
  </ul>
</section>