<h1>Welcome to Rewsly</h1>
<%= render 'search'%>
<%= link_to "Add a new story", new_story_path, class: "button dropdown radius success" %>
<section id="stories">
  <ul>
    <%= render @stories %>
    <%#= render 'remote_stories' %>
  </ul>
</section>
