<h1 class="subheader">Choose your subreddit, the category of news you want...</h1>

<%#= render partial: 'story' %>

<table>
	<tr>
		<th>subreddit</th>
		<th>.png</th>
		<th>pick one</th>
	</tr>

  <% @subreddits.each do |r| %>
	<tr>
		<td><%= r[:name] %></td>
		<td><a href=<%= "http://www.reddit.com#{r[:subreddit]}" %>><img src=<%= r[:image] %>></a></td>
		<td><%= link_to r[:name], reddit_add_path(r[:id]) %></td>
	</tr>
  <% end %>
</table>